@font-face {
    font-family: 'Baloo2';
    src: url('../fonts/Baloo2-Medium.eot');
    src: url('../fonts/Baloo2-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Baloo2-Medium.woff2') format('woff2'),
        url('../fonts/Baloo2-Medium.woff') format('woff'),
        url('../fonts/Baloo2-Medium.ttf') format('truetype'),
        url('../fonts/Baloo2-Medium.svg#Baloo2-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
