body{
    height: 100%;
}
html {
    height: 100%;
}
.homeimage {
    height: 900px;
    width: 930px;
    float: right;
    position: relative;
}
.homeinfo {
    position: absolute;
    right: 100px;
	display: flex;
	justify-content: space-between;
}
.home {
	margin-right: 70px;
    color:#EFF1ED;
    font-family: 'Baloo2';
}
.navul {
    font-family: 'Roboto';
    display: flex;
	font-size: 22px;
	margin-top: 40px;
}
.active {
    color: #F8A22F;
    border-bottom: solid #F8A22F;
}
.pizzaizza {
    position: absolute;
    margin-top: 30px;
    margin-left: 80px;
    width: 100px;
    height: 30px;
    font-size: 40px;
    font-family: 'Baloo2';
}
.hometext-div {
    height: 400px;
    width: 600px;
}
.text1 {
    position: relative;
    width: 500px;
    font-size: 60px;
    top: 200px;
    margin-left: 80px;
    font-family: 'Baloo2';
}
.text2 {
    position: relative;
    width: 500px;
    font-size: 22px;
    top: 250px;
    margin-left: 80px;
    color: #707070;
    font-family: 'Baloo2';
}
.ordernow {
    position: absolute;
    margin-left: 85px;
    top: 500px;
    font-size: 18px;
    height: 60px;
    width: 200px;
    color: white;
    background-color:#F8A22F;
    align-items: center;
    justify-content: center;  
    display: flex;
    border-radius: 50px;
    font-family: 'Baloo2';
}
.tap {
    position: relative;
    width: 195px;
    height: 35px;
    margin-left: 90px;
    margin-top: 430px;
}
.homesum {
    color: #707070;
}
.ourfood-image {
    position: absolute;
    width: 850px;
    height: 600px;
    margin-top: 200px;
}
.ourfood-info {
    width: 500px;
    height: 600px;
    font-family: 'Baloo2';
}
.ourfood-txt {
    position: relative;
    font-size: 60px;
    width: 350px;
    top: 250px;
    left: 1000px;
    border-bottom: solid #F8A22F;
}
.foods {
    position: relative;
    width: 600px;
    height: 100px;
    left: 1000px;
    top: 280px;
}
.signpizza {
    font-size: 30px;
}
.choose {
    font-size: 14px;
    color: #707070;
}
.ourfood-order {
    position: absolute;
    left: 915px;
    top: 635px;
}
.bgplans {
    position: absolute;
    width: 100%;
    height: 600px;
}
.bgplans-top {
    position: absolute;
    width: 100%;
    height: 600px;
}
.plans-text {
    position: relative;
    font-size: 55px;
    text-align: center;
    top: 100px;
    font-family: 'Baloo2';
}
.buypizza {
    position: absolute;
    width: 1400px;
    height: 620px;
    margin-left: 300px;
    margin-top: 200px;
}
.buypizza-1 {
    width: 650px;
    height: 500px;
}
.buypizza-2 {
    width: 650px;
    height: 500px;
}
.contactus-text {
    position: absolute;
    font-family: 'Baloo2';
    width: 300px;
    height: 50px;
    font-size: 58px;
    margin-left: 75px;
    margin-top: 150px;
}
.msg-image {
    position: relative;
    width: 500px;
    height: 280px;
    margin-top: 300px;
    margin-left: 80px;
}
.msg-food {
    position: absolute;
    width: 190px;
    height: 165px;
    top: 328px;
    left: 100px;
}
.msg-txt1 {
    position: absolute;
    font-size: 26px;
    margin-left: 310px;
    top: 340px;
}
.msg-txt2 {
    position: absolute;
    font-size: 16.5px;
    margin-left: 310px;
    top: 380px;
}
.msg-txt3 {
    position: absolute;
    font-size: 16.5px;
    margin-left: 310px;
    top: 410px;
}
.map {
    width: 480px;
    height: 230px;
    margin-left: 90px;
}
.form {
    background-color: #F8A22F;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 520px;
    position: absolute;
    top: 310px;
    left: 850px;
} 
.title {
    color: #fff;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
    font-family: 'Baloo2';
} 
.subtitle {
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    font-family: 'Baloo2';
}  
.input-container {
    height: 50px;
    position: relative;
    width: 100%;
} 
.ic1 {
    margin-top: 40px;
}
.ic2 {
    margin-top: 30px;
} 
.input {
    background-color: #15172b;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
} 
.cut {
    background-color: #F8A22F;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}  
.cut-short {
    width: 50px;
}
.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
}
.placeholder {
    color: grey;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
    font-family: 'Baloo2';
}
.input:focus .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}
  
.input:not(:placeholder-shown) ~ .placeholder {
    color: #fff;
}
  
.input:focus ~ .placeholder {
    color: #fff;
}
  
.submit {
    background-color: #fff;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #F8A22F;
    cursor: pointer;
    font-size: 22px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
    font-family: 'Baloo2';
}
.messageblock-1{
    font-family: 'Baloo2';
}
.burger-bar {
    font-size: 24px;
    color: black;
    display: none;
    margin-top: 50px;
}